<p id="notice"><%= notice %></p>

<p>

  <%p image_tag @user.image.url, :size => "150x150" %>

  <%= image_tag @user.image.url, :size => "150x150" %>

</p>

<p>
  <strong>Userid:</strong>
  <%= @user.userid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bithdate:</strong>
  <%= @user.bithdate %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<%
  @my_interests= Interest.where(userid: @user.userid)%>
<% if @my_interests !=nil %>
    <strong>Interest : </strong>
<% end %>
<%= link_to 'Add Interests' ,new_interest_path %>
<% @my_interests.each do |intr| %>
<br>
  <%= intr.interest_topic %>

<% end%>
<br><br>

<%= link_to 'Friends', friendships_path %>
<%= link_to 'Chats', chatboxes_path %>
<%= link_to 'Posts', posts_path%>

<br><br>
<%= link_to 'Edit my profile', edit_user_path %>
