<p id="notice"><%= notice %></p>

<p>
  <strong>Userid1:</strong>
  <%= @friendship.userid1 %>
</p>

<p>
  <strong>Userid2:</strong>
  <%= @friendship.userid2 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @friendship.status %>
</p>

<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>
