<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @interest.userid %>
</p>

<p>
  <strong>Interest topic:</strong>
  <%= @interest.interest_topic %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
