<!DOCTYPE html>
<html>
<head>
  <title>SocialNetwork</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id]!=nil %>
            <li><%= link_to "Home",   user_url(session[:user_id])  %></li>
            <% else %>
            <li><%= link_to "Home",   '#'  %></li>
            <% end %>
        <li><%= link_to "Help",   '#' %></li>
        <% p "hello",session[:user_id] %>
        <% if session[:user_id]==nil %>
        <li><%= link_to "Log in", login_path %></li>
            <% else  %>
            <li>    <%= link_to "log out" , logout_path %></li>
            <% end %>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  <% debug(params) if Rails.env.development? %>
</div>
</body>
</html>